/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icon-lock: unicode(ea02);
$icon-user: unicode(ea03);
$icon-email: unicode(ea06);
$icon-bookmark: unicode(ea07);
$icon-zoom: unicode(ea08);
$icon-badge: unicode(ea09);
$icon-single: unicode(ea0a);
$icon-image: unicode(ea0b);
$icon-face: unicode(ea0d);
$icon-home: unicode(ea0f);
$icon-bell: unicode(ea10);
$icon-filterlist: unicode(ea11);
$icon-share: unicode(ea12);
$icon-chat: unicode(ea13);
$icon-heart: unicode(ea14);
$icon-upload: unicode(ea15);
$icon-gif: unicode(ea16);
$icon-mountains: unicode(ea17);
$icon-close: unicode(ea18);
$icon-menu: unicode(ea19);

.icon-lock::before {
  content: $icon-lock;
}

.icon-user::before {
  content: $icon-user;
}

.icon-email::before {
  content: $icon-email;
}

.icon-bookmark::before {
  content: $icon-bookmark;
}

.icon-zoom::before {
  content: $icon-zoom;
}

.icon-badge::before {
  content: $icon-badge;
}

.icon-single::before {
  content: $icon-single;
}

.icon-image::before {
  content: $icon-image;
}

.icon-face::before {
  content: $icon-face;
}

.icon-home::before {
  content: $icon-home;
}

.icon-bell::before {
  content: $icon-bell;
}

.icon-filterlist::before {
  content: $icon-filterlist;
}

.icon-share::before {
  content: $icon-share;
}

.icon-chat::before {
  content: $icon-chat;
}

.icon-heart::before {
  content: $icon-heart;
}

.icon-upload::before {
  content: $icon-upload;
}

.icon-gif::before {
  content: $icon-gif;
}

.icon-mountains::before {
  content: $icon-mountains;
}

.icon-close::before {
  content: $icon-close;
}

.icon-menu::before {
  content: $icon-menu;
}

