.navbar {
  width: 100%;
  background-color: rgba(57,101,255,0.79);
  color: #ffff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  height: 100vh;
  box-shadow: 4px 0 5px -5px rgba(0, 0, 0, 0.5);
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    padding: 0 40px;
    height: 85%;
    &__item {
      padding: 20px 50px;
      font-size: 22px;
      font-weight: bold;
      &:hover {
        cursor: pointer;
        opacity: .7;
      }
    }
  }
  &__icon {
    padding: 10px;
    margin-left: 80%;
  }
}

.main {
  display: flex;
}

.icon:hover {
  cursor: pointer;
}
