.dashboard {
  &__form {
    max-width: 500px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  &__textarea {
    overflow: auto;
  }

  &__upload-preview {
    border-radius: 10px;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.upload-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

