.modelinput {
    width: 250px;
    height: 40px;
    padding-left: 10px;
    align-items: center;
}

.modaldiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    width: 450px;
    height: 450px;
}

.modalsubmitbutton {
    margin-top: 20px;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

p {
    margin-right: 20px;
    margin-left: -20px;
    width: 60px;
    margin-bottom: 35px;
}

.modelinputtime {
    width: 250px;
    height: 40px;
    padding-left: 10px;
    align-items: center;
    background-color: gray;
}