@import "../../assets/scss/variables";

.profile {
  padding-top: 40px;
  text-align: center;
  height: 100%;
  background: no-repeat center/cover url("../../assets/img/bg-01.jpg");

  @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
    padding-bottom: 25px;
  }

  h1 {
    color: #ffffff;
    margin-top: 45px;
    font-size: 28px;
  }

  &_btn_container {
    text-align: end;
    margin-right: 30px;
  }
}

.modal-close {
  color: #ffffff;
  position: absolute;
  z-index: 10;
  font-size: 50px;
  right: 50px;
}