.input {
  position: relative;
  height: 40px;
}

.input__icon {
  position: absolute;
  top: 13px;
  left: 11px;
  color: #9a9a9a;
}

.input__field {
  border: transparent;
  background: 0 0;
  cursor: text;
  outline: transparent;
  color: rgba(74, 74, 74, 0.95);
  box-sizing: border-box;
  height: 45px;
  width: 100%;
  padding: 0 5px 0 38px;
  font-size: 16px;
  line-height: 1.2;
  border-bottom: 2px solid #d9d9d9;
  -webkit-transition: 0.3s;
  transition: 0.3s ease all;

  &:focus {
    border-bottom: 2px solid #7f7f7f;

    & + .input__icon {
      color: #a64bf4;
    }
  }

  &_invalid {
    border-bottom-color: red;

    &:focus {
      border-bottom-color: red;
    }
  }
}

.error-message {
  margin: -13px 0 0 0;
  font-size: 13px;
  color: red;
  text-align: center;
}
