.label {
  font-weight: bold;
  font-size: 21px;
}

.select {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid black;
  margin-left: 15px;

  &:hover {
    cursor: pointer;
  }

  &__text {
    font-size: 18px;
    font-weight: bold;
  }
}

