@font-face {
  font-family: "Nucleo";
  src: url("../fonts/Nucleo.woff") format("woff");
  src: url("../fonts/Nucleo.woff2") format("woff2"),
    url("../fonts/Nucleo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*------------------------
      base class definition
  -------------------------*/
.icon {
  display: inline-block;
  font: normal normal normal 1em/1 "Nucleo";
  /* speak: none; */
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*------------------------
    change icon size
  -------------------------*/
/* relative units */
.icon-sm {
  font-size: 0.8em;
}
.icon-lg {
  font-size: 1.2em;
}
/* absolute units */
.icon-16 {
  font-size: 16px;
}

.icon-24 {
  font-size: 24px;
}

.icon-32 {
  font-size: 32px;
}
/*----------------------------------
    add a square/circle background
  -----------------------------------*/
.icon-bg-square,
.icon-bg-circle {
  padding: 0.35em;
  background-color: #eee;
}
.icon-bg-circle {
  border-radius: 50%;
}
/*------------------------------------
    use icons as list item markers
  -------------------------------------*/
.icon-ul {
  padding-left: 0;
  list-style-type: none;
}
.icon-ul > li {
  display: flex;
  align-items: flex-start;
  line-height: 1.4;
}
.icon-ul > li > .icon {
  margin-right: 0.4em;
  line-height: inherit;
}

/*------------------------
      icons
  -------------------------*/

.icon-lock::before {
  content: "\ea02";
}

.icon-user::before {
  content: "\ea03";
}

.icon-email-84::before {
  content: "\ea06";
}

.icon-bookmark-2::before {
  content: "\ea07";
}

.icon-zoom-2::before {
  content: "\ea08";
}

.icon-badge-13::before {
  content: "\ea09";
}

.icon-single-01::before {
  content: "\ea0a";
}

.icon-image::before {
  content: "\ea0b";
}

.icon-ic_tag_faces_24px::before {
  content: "\ea0d";
}

.icon-home-52::before {
  content: "\ea0f";
}

.icon-bell-53::before {
  content: "\ea10";
}

.icon-mountain::before {
  content: "\ea11";
}

.icon-ic_filter_list_24px::before {
  content: "\ea11";
}

.icon-share::before {
  content: "\ea12";
}

.icon-chat::before {
  content: "\ea13";
}

.icon-heart::before {
  content: "\ea14";
}

.icon-upload::before {
  content: "\ea15";
}

.icon-gif::before {
  content: "\ea16";
}

.icon-mountain::before {
  content: "\ea17";
}
