.header {
  width: 100%;
  background-color: #343a40;
  color: #ffff;
  padding: 15px 5%;
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  &__menu-icon {
    display: none;
    @media screen and (max-width: 1200px) {
      display: block;
    }
  }

  &__logo {
    display: flex;
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
}

.sidebar {
  position: fixed;
  height: 100%;
  box-shadow: 4px 0 5px -5px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  display: block;
  @media screen and (max-width: 1200px) {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0 40px;
    margin-top: 25px;
    height: 85%;

    &__item {
      padding: 20px 50px;

      &:last-child {
        margin-top: auto;
      }

      &:hover {
        cursor: pointer;
        a {
          color: #007bff;
          text-decoration: underline;
        }
      }
    }
  }
}

.burger {
  width: 100%;
  z-index: 12;
  top: 66px;
  height: auto;
  position: fixed;
  box-shadow: 4px 0 5px -5px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__item {
      padding: 20px 50px;
      &:hover {
        cursor: pointer;
        a {
          color: #007bff;
          text-decoration: underline;
        }
      }
    }
  }
}

.main {
  display: flex;
  position: relative;
  top: 82px;
  z-index: 1;
  //background: no-repeat center/cover url("../../assets/img/bg-01.jpg");
  height: 100vh;

  @media screen and (max-width: 1200px) {
    top: 66px;
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
    height: auto;
  }

  &__content {
    position: relative;
    left: 254px;
    width: calc(100% - 254px);
    @media screen and (max-width: 1200px) {
      left: 0;
      width: 100%;
      padding-bottom: 30px;
    }
  }
}

.link {
  text-decoration: none;
  color: #222222;
  font-size: 24px;
  font-weight: bold;
}

.active {
  color: #007bff;
  text-decoration: underline;
}
