@import "../../assets/scss/variables";

.header {
  width: 100%;
  background-color: #343a40;
  color: #ffff;
  padding: 15px 5%;
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  &__menu-icon {
    display: none;
    @media screen and (max-width: $large-screen) {
      display: block;
    }
  }

  &__logo {
    display: flex;
    @media screen and (max-width: $large-screen) {
      display: none;
    }
  }
}

.sidebar {
  box-shadow: 4px 0 5px -5px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  display: block;
  @media screen and (max-width: $large-screen) {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0 40px;
    margin-top: 25px;
    height: 93%;

    &__item {
      padding: 20px 50px;

      &:last-child {
        margin-top: auto;
      }

      &:hover {
        cursor: pointer;
        a {
          color: #007bff;
          text-decoration: underline;
        }
      }
    }
  }
}

.burger {
  width: 100%;
  z-index: 120;
  top: 66px;
  height: auto;
  position: fixed;
  box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__item {
      padding: 20px 50px;
      &:hover {
        cursor: pointer;
        a {
          color: #007bff;
          text-decoration: underline;
        }
      }
    }
  }
}

.main {
  display: flex;
  padding-top: 82px;
  flex-direction: row;

  @media only screen and (min-height: $big-screen-height) {
    height: 100vh;
  }

  @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) and (max-height: $big-screen-height) {
    height: 100%;
  }

  @media screen and (max-width: $large-screen) {
    padding-top: 66px;
  }

  &__content {
    width: 100%;
  }
}

.link {
  text-decoration: none;
  color: #222222;
  font-size: 24px;
  font-weight: bold;
}

.active {
  color: #007bff;
  text-decoration: underline;
}