@import "../../../assets/scss/variables";

//section {
//  flex: 1 1 25%;
//}

.preloader {
  width: $spinkit-size;
  height: $spinkit-size;
  margin: auto;
  z-index: 10000;
  background-color: $spinkit-spinner-color;
  animation: preloader 1.2s infinite ease-in-out;
}

.preloader_position-center {
  position: fixed;
  top: 50%;
  left: 50%;
  //margin-right: -50%;
  margin-left: -35px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.preloader_background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

@keyframes preloader {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
