.checkbox {
  display: none;

  &__text {
    padding-top: 2px;
    display: flex;
  }

  & + &__label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    color: rgba(59,200,255,0.95);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  & + &__label:last-child {
    margin-bottom: 0;
  }

  & + &__label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1.2px solid #6cc0e5;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
  }

  &:checked + &__label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
