@import "./assets/SCSS/fonts";
@import "./assets/SCSS/reset";

body {
  font-family: 'Raleway', sans-serif;
}

.main-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  width: 54px;
  height: 42px;
  font-size: 35px;
  color: #000;
  border-radius: 50%;
  background: linear-gradient(to right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background-size: 300% 100%;
  transition: all 0.4s;
  cursor: pointer;
  &:hover {
    background-position: 50% 0;
  }
}

