.event-page__title{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #d64db8;
    margin-top: 50px;
}
.event-page{
    padding: 120px 0 0 50px;
    display: flex;
    justify-content: space-around;
    &__btns{
        margin-top: 30px;
    }
    .btn-control{
        margin-right: 43px;
    }
}