.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  color: #9a9a9a;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 500px;
  padding: 30px 37px 30px 40px;

  background-color: #fff;
  border-radius: 10px;
}

.form__controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.main-logo-page {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: 10px;

  width: 110px;
  height: 110px;

  font-size: 60px;
  color: #000;

  border-radius: 50%;
  background: linear-gradient(to right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background-size: 300% 100%;
  transition: all 0.4s;

  cursor: pointer;
}

.main-logo-page:hover {
  background-position: 50% 0;
}

.main__title {
  font-size: 38px;
  line-height: 1.2;

  margin: 20px 0 10px 0;
  color: #000;

  text-align: center;
  text-transform: uppercase;
}

.main__form {
  display: flex;
  flex-direction: column;
  width: 100%;

  text-align: center;
}

.form__item {
  position: relative;
  height: 60px;
}

.input__icon {
  display: block;
  position: absolute;

  top: 20%;
  left: 3%;
}

.input {
  margin-bottom: 20px;
}

.input:focus {
  border-bottom: 2px solid #7f7f7f;
}

.input:focus + .input__icon {
  color: #a64bf4;
}

.main__social-text {
  margin: 10px 0;
}

.hint {
  font-size: 13px;
  line-height: 1.5;

  color: #7c7b7b;

  cursor: pointer;
  transition: all 0.2s;
}

.hint:hover {
  color: #a64bf4;
}

.form__item + .form__item {
  margin-top: 0px;
}

.main-back {
  align-self: flex-start;
}
